{% extends 'shop/basic.html' %}

{% block title %} About {% endblock %}


{% block body %} 
 
  <main role="main" class="container">
  
    <div class="about-template mt-5">
      <center><h1>ShoppersHub!</h1>
      <p class="lead mt-3">Welcome to ShoppersHub, your ultimate destination for a seamless online shopping experience! Developed with cutting-edge technologies including Django for robust backend functionality, and a sleek front-end crafted using HTML, JavaScript, and CSS with Bootstrap, ShoppersHub offers a modern and intuitive interface for all your shopping needs. Our platform ensures a user-friendly experience with fast load times, secure transactions, and responsive design, allowing you to browse and shop with ease on any device. Whether you're searching for the latest trends or essential everyday items, ShoppersHub is designed to make your shopping journey smooth, enjoyable, and efficient.</p>
      </center>
    </div>
  
  </main><!-- /.container -->
{% endblock %}